{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <h1>Добавить визит или бронь</h1>
    {{ descr }}
</div>
<div class="row">
        <h3>Форма поиска клиента</h3>
        <p><i>
            Поиск клиента можно выполнить по номеру телефона или имени. 
            Если заполнены оба поля, в первую очередь поиск осуществляется по номеру телефона.
        </i></p>    
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
<div class="row">
    {% if client_found %}
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Имя</th>
                    <th>Мобильный телефон</th>
                    <th>Добавить визит</th>
                    <th>Добавить бронь</th>
                    <th>Добавить абонемент</th>
                </tr>
                {% for c in clients_by_phone_name %}
                    <tr>
                        <td><a href="{{ url_for('admin.client_info',client_id=c.id) }}">{{ c.name }}</a></td>
                        <td>{{ c.phone }}</td>
                        <td><a href="{{ url_for('admin.add_visit_for_client',client_id=c.id) }}" class="btn btn-success" role="button">Добавить визит</a></td>
                        <td><a href="{{ url_for('admin.add_booking_for_client',client_id=c.id) }}" class="btn btn-info" role="button">Добавить бронь</a></td>
                        <td>
                            {% if check_if_client_has_valid_subscriptions(c.id) %}
                                Есть действ. абонемент
                            {% else %}
                                <a href="{{ url_for('admin.add_subscription_for_client',client_id=c.id) }}" class="btn btn-primary" role="button">Добавить абонемент</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Имя</th>
                    <th>Мобильный телефон</th>
                    <th>Добавить визит</th>
                    <th>Добавить бронь</th>
                    <th>Добавить абонемент</th>
                </tr>                
                {% for c in clients %}
                    <tr>
                        <td><a href="{{ url_for('admin.client_info',client_id=c.id) }}">{{ c.name }}</a></td>
                        <td>{{ c.phone }}</td>
                        <td><a href="{{ url_for('admin.add_visit_for_client',client_id=c.id) }}" class="btn btn-success" role="button">Добавить визит</a></td>
                        <td><a href="{{ url_for('admin.add_booking_for_client',client_id=c.id) }}" class="btn btn-info" role="button">Добавить бронь</a></td>
                        <td>
                            {% if check_if_client_has_valid_subscriptions(c.id) %}
                                Есть действ. абонемент
                            {% else %}
                                <a href="{{ url_for('admin.add_subscription_for_client',client_id=c.id) }}" class="btn btn-primary" role="button">Добавить абонемент</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}                
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Назад
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Вперёд <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    
</div>

{% endblock %}