{% extends "base.html" %}

{% block app_content %}
<h1>Список загруженных фото</h1>
<a href="{{ url_for('admin.files',param='all',album_name='None') }}" class="btn btn-info" role="button">Все фото</a>
<a href="{{ url_for('admin.files',param='carousel',album_name='None') }}" class="btn btn-info" role="button">Карусель</a>
<a href="{{ url_for('admin.files',param='gallery',album_name='None') }}" class="btn btn-info" role="button">Галлерея</a>
<a href="{{ url_for('admin.files',param='photoalbum',album_name='None_album_selected') }}" class="btn btn-info" role="button">Фотоальбомы</a>
<br>
<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Имя файла</th>
                <th>Тип</th>
                <th>Фотоальбом</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Дата-время загрузки</th>
                <th>Фото отображается на сайте?</th>            
                <th>Изменить статус отображения на сайте</th>
                <th>Изменить описание</th>
                <th>Удалить файл</th>
            </tr>
            {% for f in files %}
            <tr>
                <td>
                    {% if f.photoalbum %}
                        <a href="{{ url_for('admin.downloadFile',ftype=f.photo_type,album_name=f.photoalbum,fname=f.name) }}">{{ f.name }}</a>
                    {% else %}
                        <a href="{{ url_for('admin.downloadFile',ftype=f.photo_type,album_name='None',fname=f.name) }}">{{ f.name }}</a>
                    {% endif %}
                </td>
                <td>{{ f.photo_type }}</td>
                <td>
                    {% if f.photoalbum %}
                        {{ f.photoalbum }}
                    {% endif %}
                </td>
                <td>
                    {% if f.caption %}
                        {{ f.caption }}
                    {% endif %}
                </td>
                <td>
                    {% if f.descr %}
                        {{ f.descr }}
                    {% endif %}               
                </td>
                <td>{{ moment(f.timestamp).format('LLL') }}</td>
                <td>
                    {% if f.active %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </td>            
                <td>
                    {% if f.active %}
                        <a href="{{ url_for('admin.deactivateFile',fid=f.id) }}">Скрыть</a>
                    {% else %}
                        <a href="{{ url_for('admin.activateFile',fid=f.id) }}">Показать</a>
                    {% endif %}                
                </td>
                <td>
                    <a href="{{ url_for('admin.edit_file',fid=f.id) }}">Изменить описание</a>                    
                </td>
                <td>
                    {% if not f.active %}
                        <a href="{{ url_for('admin.delete_file',fid=f.id) }}">Удалить файл</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}