{% extends "base.html" %}

{% block app_content %}
<h1>Список абонементов</h1>
<h3>{{ descr }}</h3>
<div>
    <p>Для создания нового абонемента нажмите <a href="{{ url_for('admin.add_visit_booking') }}">+ визит / бронь</a> и "Добавить абонемент" напротив нужного клиента</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Номер</th>
                <th>Имя клиента</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Действующий?</th>
                <th>Тип абонемента</th>
                <th>Кол-во визитов</th>
                <th>Использовано часов</th>
            </tr>
            {% if items %}
                {% for t in items %}
                    <tr>
                        <td><a href="{{ url_for('admin.subscription_info',_id=t.id) }}">{{ t.id }}</a></td>
                        <td><a href="{{ url_for('admin.client_info',client_id=t.client_id) }}">{{ t.name }}</a></td>
                        <td>{% if t.start %}
                                {{ moment(t.start).format('LL') }}
                            {% endif %}
                        </td>
                        <td>{% if t.end %}
                                {{ moment(t.end).format('LL') }}
                            {% endif %}
                        </td>
                        <td>{% if t.is_valid %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td>{{ t.sub_desc }}</td>
                        <td>{{ t.visits_used }}</td>
                        <td>{{ t.hours_used }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}