{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">            
            <div class="container" style="max-width:{{g.const_public.ya_map_width}}px">
                <img style="max-width:100%" src="{{ url_for('public.get_path_to_static',fname='about_me.jpeg') }}" alt="Швейный коворкинг Алматы"><!-- Фото Далиды с ножницами -->
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"> <!-- Обо мне -->
            <h1 class="h1_public">Немного обо мне</h1>
            <div class="font_public">
                <p>
                    Я, Далида, открыла швейный коворкинг DressIdea для всех любителей шитья нашего города Алматы.                
                </p>
                <p>
                    Увлечение шитьем началось 3 года назад из "спортивного" интереса.
                    Летом 2016-го я пошла на курсы кройки и шитья. 
                    Шить мне понравилось, увиденные на курсах швейные умения и знания преподавателя поразили меня,
                    и эти курсы стали началом моей тяги к шитью. 
                    Знания, полученные на моих первых курсах явились для меня фундаментом в понимании конструирования, 
                    моделирования и технологии. 
                    После курсов интерес к шитью только рос, хотелось знать и уметь больше и больше, 
                    поэтому я училась на разных очных курсах, 
                    покупала разные обучающие видеокурсы, просмотрела массу швейных мастер-классов 
                    на youtube, в инстаграм, нарабатывала и отрабатывала навыки, 
                    отшивая одежду себе, сестре и дочке.
                </p>
                <p>Сложность состояла именно в отработке 
                    навыков шитья. Необходимое швейное оборудование, машинка и оверлок, у меня появилось 
                    не сразу, а постепенно в течение 3-х лет. Дома свободного пространства не так много, 
                    поэтому крой у меня происходил на полу, а машинки теснились на письменном столе. 
                    Спустя какое-то время я организовала дома более уютный швейный уголок для себя, 
                    но все равно было не настолько удобно, особенный дискомфорт от 
                    домашнего шитья испытывала моя спина. 
                    Каждый раз после кроя на полу весь следующий день я ходила с болью в пояснице. 
                    Я полагаю, что эта картина знакома многим, кто шьет.
                </p>
                <p>
                    Всё это время я надеялась, что найду в нашем городе учебное ателье 
                    или открытую мастерскую, куда можно прийти пошить, полностью погрузившись 
                    в процесс, не отвлекаясь, трансформируя полученные теоритические знания 
                    в практические навыки. 
                    Я не нашла такого места, поэтому решила организовать открытую швейную мастерскую. 
                    Так появилась DressIdea. 
                    Сюда может прийти каждый любитель шитья, чтобы поконструировать, 
                    помоделировать, покроить и пошить в свое удовольствие, 
                    не отвлекаясь на домашний быт.
                </p>
            </div>
        </div>
    </div>

    <div class="row"> <!-- Кому интересно -->
        <div class="col-md-6 col-sm-12 col-xs-12"><!-- Фото -->
            <p></p><p></p><p></p>
            <div class="container" style="max-width:{{g.const_public.ya_map_width}}px">
                <img style="max-width:100%" src="{{ url_for('public.get_path_to_static',fname='for_whom.jpeg') }}" alt="Швейный коворкинг Алматы"><!-- Фото -->
            </div>
        </div>        
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h1 class="h1_public">Почему я открыла швейный коворкинг DressIdea?</h1>
            <div class="font_public">
                <p>
                    Я хочу, чтобы каждый любитель шитья и каждый человек, 
                    отучившийся на курсах кройки и шитья, имел возможность шить и творить, 
                    воплощая свои знания в реальность, а не похоронить их и забыть 
                    за ненадобностью, потому что этим заниматься 
                    негде и нечем.
                </p>
                <p>
                    Всем тем, кто любит шить, процесс шитья и результат доставляет счастье, 
                    удоводьствие, расслабление и эйфорию. 
                    Я хочу, чтобы DressIdea стала источником возникновения этих чувств у всех, 
                    кто сюда приходит!
                </p>
            </div>
        </div>
    </div>
</div>    
{% endblock %}

