{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <h1>Добавить визит или бронь</h1>
    {{ descr }}
</div>
<div class="row">    
    <div class="col-md-4">
        <h3>Форма поиска клиента</h3>
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Имя</th>
                    <th>Мобильный телефон</th>
                    <th>Добавить визит</th>
                    <th>Добавить бронь</th>
                </tr>
                {% if client_found %}                   
                    <tr>                        
                        <td>{{ client_by_phone.name }}</td>
                        <td>{{ client_by_phone.phone }}</td>
                        <td><button type="button" class="btn btn-default"><a href="{{ url_for('add_visit_for_client',client_id=client_by_phone.id) }}">Добавить визит</a></button></td>
                        <td><button type="button" class="btn btn-default"><a href="{{ url_for('add_booking_for_client',client_id=client_by_phone.id) }}">Добавить бронь</a></button></td>
                    </tr>                    
                {% else %}
                    {% for c in clients %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.phone }}</td>
                        <td><a href="{{ url_for('add_visit_for_client',client_id=c.id) }}">Добавить визит</a></td>
                        <td><a href="{{ url_for('add_booking_for_client',client_id=c.id) }}">Добавить бронь</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}