{% extends "base.html" %}

{% block app_content %}
<h1>Список броней</h1>
<table class="table">
    <tr class="table-active">        
        <td><a href="{{ url_for('all_bookings',param='today') }}">Брони на сегодня</a></td>
        <td><a href="{{ url_for('all_bookings',param='future') }}">Будущие брони</a></td>
        <td><a href="{{ url_for('all_bookings',param='all') }}">Все брони</a></td>
    </tr>
</table>
<h3>{{ descr }}</h3>
<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Клиент</th>
                <th>Телефон</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Статус</th>
                <th>Поменять статус - пришел</th>
                <th>Поменять статус - не пришел</th>
                <th>Комментарий</th>
                <th>Изменить</th>
            </tr>
            {% if bookings %}
                {% for b in bookings %}
                    <tr>
                        <td>{{ b.name }}</td>
                        <td>{{ b.phone }}</td>
                        <td>{{ moment(b.begin).format('LLL') }}</td>
                        <td>{{ moment(b.end).format('LLL') }}</td>
                        <td>
                            {% if b.attended == None %}
                                Статус не указан
                            {% elif b.attended %}
                                Пришел
                            {% else %}
                                Не пришел
                            {% endif %}
                        </td>
                        <td>
                            {% if b.attended == None %}
                                <a href="{{ url_for('change_booking_status_positive',booking_id=b.id) }}">Клиент пришел</a>
                            {% endif %}                
                        </td>
                        <td>
                            {% if b.attended == None %}
                                <a href="{{ url_for('change_booking_status_negative',booking_id=b.id) }}">Клиент НЕ пришел</a>
                            {% endif %}                
                        </td>
                        <td>{{ b.comment }}</td>
                        <td>
                            {% if b.attended == None %}
                                <a href="{{ url_for('edit_booking',booking_id=b.id) }}">Изменить</a>
                            {% endif %}                
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}