{% extends "base.html" %}

{% block app_content %}
    <h1>Информация по клиенту</h1>
    {{ descr }}
    <p></p><p></p>

    <h2>Общая информация</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <td><b>Имя</b></td>
                <td><b>{{ client.name }}</b></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <td>Инста</td>
                <td>{{ client.insta }}</td>
            </tr>
            <tr>
                <td>Источник</td>
                <td>    
                    {% if client.source_id %}
                        {{ show_source_name(client.source_id) }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Создан</td>
                <td>{{ moment(client.timestamp).format('LLL') }}</td>
            </tr>
            <tr>
                <td>Комментарий</td>
                <td>{{ client.comment }}</td>
            </tr>
        </table>
    </div>
    {% if show_visits %}
        <h2>Завершенные визиты</h2>
        {% if total_stat %}
            <div class="row">
                <p>Визитов: <b> {{ total_stat.count }}</b></p>
                <p>Сумма: <b>{{ total_stat.sum }}</b></p>
            </div>
        {% endif %}        
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Окончательная стоимость</th>
                    <th>Комментарий</th>                    
                </tr>
                {% for v in visits %}
                <tr>
                    <td>{{ moment(v.begin).format('LLL') }}</td>
                    <td>{{ moment(v.end).format('LLL') }}</td>
                    <td>{{ v.amount }}</td>
                    <td>{{ v.comment }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p><b>Визитов не было</b></p>
    {% endif %}
    
    
    {% if show_bookings %}
        <h2>Брони</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Статус</th>
                    <th>Комментарий</th>
                </tr>
                {% if bookings %}
                    {% for b in bookings %}
                        <tr>
                            <td>{{ moment(b.begin).format('LLL') }}</td>
                            <td>{{ moment(b.end).format('LLL') }}</td>
                            <td>
                                {% if b.attended == None %}
                                    Статус не указан
                                {% elif b.attended %}
                                    Пришел
                                {% else %}
                                    Не пришел
                                {% endif %}
                            </td>
                            <td>{{ b.comment }}</td>         
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    {% else %}
        <p><b>Броней не было</b></p>
    {% endif %}

{% endblock %}
