{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" id='descr'> <!-- Описание -->
            <h1>DressIdea - это швейная мастерская-коворкинг для всех любителей шитья города Алматы</h1>
            <p style="font-size: 120%;">
            {{ g.const_public.descr }}
            </p>
            <p style="font-size: 120%;">
                Теперь это не проблема. <b>Мастерская-коворкинг предлагает рабочее место для каждого любителя шитья.</b>
            </p>
            {% if items %}
            <p style="font-size: 120%;">Для Вашего пользования:
                <ul style="font-size: 120%;">
                    {% for i in items %}
                    <li>{{ i.name }}</li>
                    {% endfor %}
                </ul>
            </p>
            {% endif %}
            <p style="font-size: 120%;">Бронируйте свое рабочее время заранее.</p>
            <p style="font-size: 120%;">
                Стоимость <b>1 часа - {{ rate }} тенге</b>, <b>максимум за день - {{ max_amount }} тенге</b>
            </p>
            <p style="font-size: 120%;">
                Предварительная запись по телефону <a href="tel:{{ g.const_public.phone }}">{{ g.const_public.phone }}</a>. Звоните!
            </p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
                <p></p><p></p><p></p>
                <img style="max-width:{{g.const_public.ya_map_width}}px" src="{{ url_for('get_path_to_static',fname='full_logo.png') }}" alt="Швейный коворкинг"><!-- Большое лого -->
                <p></p><p></p><p></p>
            {% if show_carousel %}
                <div id="myCarousel" class="carousel slide" data-ride="carousel"><!-- Карусель -->
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for i in range(carousel_photos_len) %}
                            {% if i==0 %}
                                <li data-target="#myCarousel" data-slide-to="{{i}}" class="active"></li>
                            {% else %}
                                <li data-target="#myCarousel" data-slide-to="{{i}}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for i in range(carousel_photos_len) %}
                            {% if i==0 %}
                                <div class="item active">
                                    <img style="max-width:{{g.const_public.ya_map_width}}px" src="{{ url_for('get_path_to_static',fname=carousel_photos[i].name) }}" alt="Швейный коворкинг Алматы">
                                </div>
                            {% else %}                  
                                <div class="item">
                                    <img style="max-width:{{g.const_public.ya_map_width}}px" src="{{ url_for('get_path_to_static',fname=carousel_photos[i].name) }}" alt="Швейный коворкинг Алматы">
                                </div>
                            {% endif %}
                        {% endfor %} 
                    </div>                  
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Назад</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Вперед</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <p></p><p></p>
    </div>

    <div class="row"> <!-- Контакты -->
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h1>Контакты</h1>
            <table id='contacts' style="font-size: 120%;">
                <tr>
                    <td><i class="fa fa-mobile"></i></td>
                    <td><a href="tel:{{ g.const_public.phone }}">{{ g.const_public.phone }}</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-map-pin"></i></td>
                    <td>{{ g.const_public.addr }}</td>
                </tr>
                <tr>
                    <td><i class="fab fa-instagram"></i></td>
                    <td><a href="{{ g.const_public.insta_url }}">{{ g.const_public.insta }}</a></td>
                </tr>
                {% if g.const_public.show_working_hours %}
                <tr>
                    <td><i class="fas fa-business-time"></i></td>
                    <td>{{ g.const_public.working_hours }}</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" id="ya_map"><!-- Яндекс Карта -->
            <p></p><p></p><p></p>
            {% if g.const_public.ya_map_id %}
                {% if g.const_public.ya_map_static %}
                <a href="https://yandex.ru/maps/?um=constructor%{{ g.const_public.ya_map_id }}&amp;source=constructorStatic" target="_blank">
                    <img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A6ad5fb6fb828ebef9b9e4e62b4139f4891e3a5a32a31c0229d3db9144c530b61&amp;width={{ g.const_public.ya_map_width }}&amp;height={{ g.const_public.ya_map_height }}&amp;lang=ru_RU" alt="" style="border: 0;" />
                </a>
                {% else %}
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%{{ g.const_public.ya_map_id }}&amp;width={{ g.const_public.ya_map_width }}&amp;height={{ g.const_public.ya_map_height }}&amp;lang=ru_RU&amp;scroll=true"></script>
                {% endif %}
            {% endif %}
        </div>        
    </div>
    <br><br>

</div>    
{% endblock %}

