{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row"><!-- Цены -->        
        <h1 style="font-size: 200%; COLOR: #542947;">Индивидуальное посещение</h1>
            <ul style="font-size: 120%;">
                <li>800 тенге за 1 час</li>
                <li>5 000 тенге, если вы работаете 7 часов и более за одно посещение</li>
            </ul>
        <h1 style="font-size: 200%; COLOR: #542947;">Групповое посещение</h1>
            <ul style="font-size: 120%;">
                <li>2 800 тенге за 1 час</li>
                    <p>В этот день вы работаете своей группой в любом количестве 
                        человек в течение забронированного количества часов. 
                        На время работы вашей группы других посетителей в мастерской нет.</p>
                <li>16 000 тенге за весь день</li>
                <p>В этот день вы работаете своей группой в любом количестве человек, 
                    кроме вашей группы в мастерской других посетителей нет.</p>
            </ul>
            <p style="font-size: 120%;">
                Организаторам группового посещения 
                рекомендуется заранее осмотреть мастерскую для того, 
                чтобы запланировать количество человек в группе 
                в соответствии с вместительностью мастерской.
            </p>
    </div>
    <div class="row"><!-- что входит -->        
        <h1 style="font-size: 200%; COLOR: #542947;">Что входит в посещение мастерской Dressidea</h1>
        <p style="font-size: 120%;">
            Коворкинг Dressidea - это открытая швейная мастерская, 
            куда может прийти каждый, чтобы заниматься шитьем, 
            в том числе конструированием, моделированием, в удобное для себя время.
        </p>
        <p style="font-size: 120%;">
            Во время работы в швейной мастерской-коворкинг Dressidea вы пользуетесь 
            швейной техникой, инструментами и аксессуарами:
        </p>
        <ul style="font-size: 120%;">
            <li>столом для раскроя</li>
            <li>швейными машинами (бытовой или промышленной)</li>
            <li>оверлоком (бытовой)</li>
            <li>распошивалкой (промышленная)</li>
            <li>колодками для ВТО</li>
            <li>гладильным местос с проф утюгом и парогенератором</li>
            <li>ножницами, лекалами, измерительными лентами</li>
            <li>прочими швейными аксессуарами</li>
        </ul>
        <p style="font-size: 120%;">
            <i>* Чай, кофе, печенье, конфеты включены.</i>
        </p>
    </div>    
</div>    
{% endblock %}

