{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Список категорий видео</h1>
    <p>{{ descr }}</p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>    
    {% if items %}
    <h1>Уже в списке</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Порядковый номер</th>
                <th>Название</th>
                <th>Отображать на сайте?</th>
                <th>Изменить</th>
            </tr>
            {% for i in items %}
            <tr>
                <td>{{ i.num }}</td>
                <td>{{ i.name }}</td>
                <td>
                    {% if i.active %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}                
                </td>
                <td><a href="{{ url_for('edit_video_category',item_id=i.id) }}">Изменить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}