{% extends "base.html" %}

{% block app_content %}
<h1>Визиты в коворкинг</h1>
<table class="table">
    <tr class="table-active">
        <td><a href="{{ url_for('visits_today',param='today') }}">Сегодня</a></td>
        <td><a href="{{ url_for('visits_today',param='all') }}">Все визиты</a></td>
    </tr>
 </table>
<h3>{{ descr }}</h3>
<div>
    <table class="table table-hover">
        <tr>
            <th>Клиент</th>
            <th>Телефон</th>
            <th>Начало</th>
            <th>Как давно пришел</th>
            <th>Текущая стоимость</th>
            <th>Окончание</th>
            <th>Окончательная стоимость</th>
            <th>Комментарий</th>
            <th>Завершить</th>
        </tr>
        {% for v in visits %}
        <tr>
            <td>{{ v.name }}</td>
            <td>{{ v.phone }}</td>
            <td>{{ moment(v.begin).format('LLL') }}</td>
            <td>
                {% if not v.end %}
                    {{ now_moment - v.begin }}
                {% endif %}
            </td>
            <td>
                {% if not v.end %}
                    {{ compute_amount(v.begin) }}</td>
                {% endif %}
            <td>
                {% if v.end %}
                    {{ moment(v.end).format('LLL') }}
                {% endif %}
            </td>
            <td>
                {% if v.end %}
                    {{ v.amount }}
                {% endif %}
            </td>
            <td>{{ v.comment }}</td>
            <td>
                {% if not v.end %}
                    <a href="{{ url_for('close_visit',visit_id=v.id) }}">Завершить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}